@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <!-- This entire layout will ONLY be shown to logged-in users -->
        <div class="main">
            <NavMenu />

            <main class="content">
                @Body
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <!-- If for any reason a non-logged-in user gets here,
             we immediately redirect them to the login page. -->
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>