@inherits LayoutComponentBase

<div class="main">
    <!-- This will be our navigation sidebar -->
    <NavMenu />

    <main class="content">
        <!-- This is where the content of each page will be rendered -->
        @Body
    </main>
</div>