<div class="sidebar">
    <div class="px-4 py-6">
        <!-- Logo -->
        <img src="images/logo.jpg" alt="Firebrand Logo" class="h-10 mx-auto" />
    </div>

    <nav class="flex-grow">
        <ul class="flex flex-col py-4 space-y-1">
            <li>
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="inline-flex justify-center items-center ml-4">
                        <!-- Dashboard Icon -->
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                    </span>
                    <span class="ml-2 text-sm tracking-wide">Dashboard</span>
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="users">
                    <span class="inline-flex justify-center items-center ml-4">
                        <!-- Users Icon -->
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M15 21a6 6 0 00-9-5.197M15 21a6 6 0 006-6v-1a6 6 0 00-9-5.197"></path></svg>
                    </span>
                    <span class="ml-2 text-sm tracking-wide">Users</span>
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="brands">
                    <span class="inline-flex justify-center items-center ml-4">
                        <!-- Brands Icon -->
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-5 5a2 2 0 01-2.828 0l-7-7A2 2 0 013 8V3z"></path></svg>
                    </span>
                    <span class="ml-2 text-sm tracking-wide">Brands</span>
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="campaigns">
                    <span class="inline-flex justify-center items-center ml-4">
                        <!-- Campaigns Icon -->
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-2.236 9.168-5.584C18.354 5.286 20 7.95 20 11a4 4 0 11-8 0c0-1.017.372-1.94.98-2.692A4.002 4.002 0 017 6M5 13a3 3 0 100 6"></path></svg>
                    </span>
                    <span class="ml-2 text-sm tracking-wide">Campaigns</span>
                </NavLink>
            </li>
        </ul>
    </nav>
</div>